<div style="text-align: center;">
  <img src="https://github.com/Hack-io-Data/Imagenes/blob/main/01-LogosHackio/logo_amarillo@4x.png?raw=true" alt="esquema" />
</div>


# Laboratorio ETL: Análisis del Sistema Energético en España

## Objetivo

Durante todos los laboratorios de esta semana realizarás un proceso completo de ETL para analizar la relación entre la demanda, el consumo y la generación eléctrica en diferentes provincias de España a lo largo de un año. Además, complementarán este análisis con datos demográficos y económicos extraídos del Instituto Nacional de Estadística (INE). El **objetivo principal** del análisis es **examinar cómo la demanda, el consumo y la generación eléctrica en diferentes provincias de España a lo largo de los años están influenciados por factores demográficos y económicos, como la población y el PIB provincial**. El análisis busca identificar patrones y correlaciones entre estas variables para comprender mejor las dinámicas energéticas regionales y su relación con el desarrollo socioeconómico en España.

Antes de realizar el análisis, vamos a definir las hipótesis con las que vamos a trabajar, las cuales definirán todo tu análisis y planteamiento de los laboratorios: 

- **Hipótesis 1: La demanda eléctrica está correlacionada con la población de la provincia.** Provincias con mayor población tienden a tener una mayor demanda eléctrica.
  
- **Hipótesis 2: El crecimiento económico (medido por el PIB) está correlacionado con el consumo eléctrico.** Las provincias con un PIB más alto o en crecimiento experimentan un mayor consumo de energía.

- **Hipótesis 3: La proporción de generación renovable está relacionada con factores económicos o geográficos.** Provincias con un mayor desarrollo económico o con condiciones geográficas favorables (como más horas de sol o viento) tienden a generar más energía renovable.


## Tareas Laboratorio Carga

En este laboratorio, tu objetivo será diseñar la estructura de una base de datos relacional, crear las tablas necesarias y cargar en ellas los datos limpios y preparados que obtuviste en el laboratorio anterior. Trabajarás con datos relacionados con la demanda, generación eléctrica, y variables socioeconómicas, almacenándolos de manera eficiente para facilitar el análisis y las consultas posteriores.


- **Diseño de la Base de Datos:** Define una estructura de base de datos relacional que sea adecuada para almacenar los datos de demanda eléctrica, generación eléctrica, población y PIB por provincia.

- **Creación de la Base de Datos:** Escribe los scripts SQL necesarios para crear las tablas definidas en la estructura de la base de datos. Asegúrate de definir correctamente los tipos de datos y las restricciones (e.g., `NOT NULL`, `UNIQUE`).

- **Carga de Datos en la Base de Datos:** Utiliza Python para cargar los datos limpios y preparados en las tablas de la base de datos. Asegúrate de que los datos se insertan correctamente, manejando posibles errores o inconsistencias en los datos.

In [20]:
# Path
import sys
sys.path.append('../')

# Data
import pandas as pd

# Trabajar con bases de datos y python
# -----------------------------------------------------------------------
import psycopg2
from psycopg2 import OperationalError, errorcodes, errors

In [39]:
# Cargar CSVs limpios
df_generacion = pd.read_csv('./data/datosgeneración_limpios.csv',index_col=False)
df_demanda = pd.read_csv('./data/datosdemanda_limpios.csv',index_col=False)
df_datoseco=pd.read_csv('./data/datos_economicos_limpios.csv', encoding= "latin 1" ,sep=";")
df_datosdemo=pd.read_csv('./data/datos_demograficos_limpios.csv', encoding= "latin 1" ,sep=";")

In [43]:

# Reestructuración del DataFrame usando pivot para expandir todas las combinaciones de valores
df_datoseco2 = df_datoseco.pivot_table(
    index=["Comunidades y Ciudades Autónomas", "periodo"],
    columns=["Ramas de actividad", "Magnitud"],
    values="Total",
    aggfunc='first'
).reset_index()

# Aplanar los nombres de columnas para una estructura más sencilla
df_datoseco2.columns = [' '.join(col).strip() for col in df_datoseco2.columns.values]

# Mostrar el DataFrame resultante
df_datoseco2.head()

,Comunidades y Ciudades Autónomas,periodo,"A. Agricultura, ganadería, silvicultura y pesca Valor","B_E. Industrias extractivas, industria manufacturera, suministro de energía eléctrica, gas, vapor y aire acondicionado, suministro de agua, actividades de saneamiento, gestión de residuos y descontaminación Valor",C. - De las cuales: Industria manufacturera Valor,F. Construcción Valor,"G_I. Comercio al por mayor y al por menor, reparación de vehículos de motor y motocicletas, transporte y almacenamiento, hostelería Valor",Impuestos netos sobre los productos Valor,J. Información y comunicaciones Valor,K. Actividades financieras y de seguros Valor,L. Actividades inmobiliarias Valor,"M_N. Actividades profesionales, científicas y técnicas, actividades administrativas y servicios auxiliares Valor","O_Q. Administración pública y defensa, seguridad social obligatoria, educación, actividades sanitarias y de servicios sociales Valor",PRODUCTO INTERIOR BRUTO A PRECIOS DE MERCADO Valor,"R_U. Actividades artísticas, recreativas y de entretenimiento, reparación de artículos de uso doméstico y otros servicios Valor",Valor añadido bruto total Valor
0,01 Andalucía,2019,9.079.829,17.232.082,11.124.305,10.489.402,34.808.451,15.346.559,2.987.256,5.282.605,19.116.983,10.317.005,32.862.994,164.929.489,7.406.323,149.582.930
1,01 Andalucía,2020,9.659.346,15.272.457,9.570.097,8.918.988,26.487.461,13.019.583,2.939.019,5.524.922,19.211.915,8.832.463,32.973.273,148.779.089,5.939.662,135.759.506
2,01 Andalucía,2021(P),10.862.905,17.856.427,11.165.317,9.256.853,31.594.093,15.623.189,3.131.279,5.554.191,19.747.665,10.046.304,34.131.785,164.003.435,6.198.744,148.380.246
3,02 Aragón,2019,2.132.072,7.429.647,6.113.573,2.188.416,7.139.503,3.540.487,682.179,1.252.990,3.702.194,2.047.045,6.515.304,38.049.621,1.419.784,34.509.134
4,02 Aragón,2020,2.299.319,6.951.050,5.676.180,1.900.039,5.860.666,3.108.475,670.609,1.311.945,3.720.903,1.929.362,6.601.287,35.521.579,1.167.924,32.413.104

In [38]:
# Reestructuración del DataFrame usando pivot para expandir todas las combinaciones de valores
df_expanded = df_datosdemo.pivot_table(
    index=["Comunidades y Ciudades Autónomas", "Año"],
    columns=["Sexo", "Españoles/Extranjeros", "Edad (3 grupos de edad)"],
    values="Total",
    aggfunc='first'
).reset_index()

# Aplanar los nombres de columnas para una estructura más sencilla
df_expanded.columns = [' '.join(col).strip() for col in df_expanded.columns.values]

# Mostrar el DataFrame resultante
df_expanded

,Comunidades y Ciudades Autónomas,Año,Ambos sexos Españoles 0-15 años,Ambos sexos Españoles 16-64 años,Ambos sexos Españoles 65 y más,Ambos sexos Españoles TOTAL EDADES,Ambos sexos Extranjeros 0-15 años,Ambos sexos Extranjeros 16-64 años,Ambos sexos Extranjeros 65 y más,Ambos sexos Extranjeros TOTAL EDADES,...,Mujeres Españoles 65 y más,Mujeres Españoles TOTAL EDADES,Mujeres Extranjeros 0-15 años,Mujeres Extranjeros 16-64 años,Mujeres Extranjeros 65 y más,Mujeres Extranjeros TOTAL EDADES,Mujeres TOTAL 0-15 años,Mujeres TOTAL 16-64 años,Mujeres TOTAL 65 y más,Mujeres TOTAL TOTAL EDADES
0,01 Andalucía,2019,1.321.150,5.070.866,1.366.669,7.758.685,94.289,487.833,73.433,655.555,...,776.595,3.943.366,45.881,241.357,36.469,323.707,687.793,2.766.216,813.064,4.267.073
1,01 Andalucía,2020,1.300.962,5.068.503,1.392.928,7.762.393,101.236,522.897,77.885,702.018,...,790.173,3.946.043,49.280,259.637,38.846,347.763,681.094,2.783.693,829.019,4.293.806
2,01 Andalucía,2021,1.276.255,5.069.374,1.414.862,7.760.491,100.546,530.839,80.531,711.916,...,801.177,3.946.187,48.960,263.644,40.277,352.881,669.036,2.788.578,841.454,4.299.068
3,02 Aragón,2019,171.412,717.021,281.559,1.169.992,25.728,119.530,4.041,149.299,...,158.979,594.593,12.436,59.182,2.386,74.004,95.864,411.368,161.365,668.597
4,02 Aragón,2020,169.137,714.297,283.909,1.167.343,27.490,129.805,4.753,162.048,...,160.254,593.386,13.262,63.881,2.806,79.949,95.554,414.721,163.060,673.335
5,02 Aragón,2021,166.353,713.059,284.500,1.163.912,27.585,129.661,5.103,162.349,...,160.250,591.494,13.333,63.207,2.979,79.519,94.196,413.588,163.229,671.013
6,"03 Asturias, Principado de",2019,113.729,606.460,260.985,981.174,5.608,34.010,2.008,41.626,...,152.170,512.373,2.737,18.401,1.152,22.290,58.026,323.315,153.322,534.663
7,"03 Asturias, Principado de",2020,111.475,597.761,264.227,973.463,6.100,36.881,2.340,45.321,...,153.751,508.444,2.942,19.978,1.354,24.274,57.119,320.494,155.105,532.718
8,"03 Asturias, Principado de",2021,109.099,590.890,266.358,966.347,6.013,36.951,2.481,45.445,...,154.774,504.688,2.934,20.065,1.440,24.439,55.925,316.988,156.214,529.127
9,"04 Balears, Illes",2019,155.300,625.467,163.706,944.473,29.723,160.326,14.938,204.987,...,91.184,474.922,14.560,79.150,8.071,101.781,89.915,387.533,99.255,576.703
10,"04 Balears, Illes",2020,153.707,630.337,167.464,951.508,31.557,172.718,15.760,220.035,...,93.167,478.390,15.382,84.937,8.536,108.855,90.023,395.519,101.703,587.245
11,"04 Balears, Illes",2021,151.446,630.199,171.066,952.711,31.568,172.433,16.296,220.297,...,95.143,479.236,15.394,84.721,8.804,108.919,88.985,395.223,103.947,588.155
12,05 Canarias,2019,277.067,1.292.244,307.044,1.876.355,32.206,211.193,33.635,277.034,...,171.602,947.735,15.582,107.155,16.946,139.683,150.559,748.311,188.548,1.087.418
13,05 Canarias,2020,271.336,1.296.371,315.703,1.883.410,33.583,223.540,35.419,292.542,...,176.297,951.853,16.365,113.531,18.018,147.914,148.571,756.881,194.315,1.099.767
14,05 Canarias,2021,262.839,1.297.763,324.516,1.885.118,32.373,218.710,36.743,287.826,...,180.873,953.185,15.730,111.145,18.704,145.579,143.703,755.484,199.577,1.098.764
15,06 Cantabria,2019,77.828,345.037,125.430,548.295,4.722,26.591,1.470,32.783,...,71.969,282.205,2.304,13.869,899,17.072,40.327,186.082,72.868,299.277
16,06 Cantabria,2020,76.367,342.917,127.725,547.009,5.154,29.042,1.700,35.896,...,73.234,281.552,2.539,15.223,1.032,18.794,39.822,186.258,74.266,300.346
17,06 Cantabria,2021,74.849,343.306,130.185,548.340,5.117,29.219,1.831,36.167,...,74.379,282.183,2.538,15.310,1.098,18.946,38.994,186.658,75.477,301.129
18,07 Castilla y León,2019,283.441,1.382.388,603.925,2.269.754,21.711,103.478,4.605,129.794,...,336.618,1.151.885,10.580,53.091,2.591,66.262,148.398,730.540,339.209,1.218.147
19,07 Castilla y León,2020,278.562,1.366.896,608.303,2.253.761,23.483,112.273,5.401,141.157,...,338.165,1.143.936,11.441,57.639,3.056,72.136,146.759,728.092,341.221,1.216.072
20,07 Castilla y León,2021,273.361,1.357.980,607.688,2.239.029,23.659,114.628,5.823,144.110,...,337.007,1.136.348,11.557,58.808,3.312,73.677,144.276,725.430,340.319,1.210.025
21,08 Castilla - La Mancha,2019,294.217,1.185.005,381.545,1.860.767,32.746,134.412,4.938,172.096,...,211.475,931.219,16.013,65.704,2.973,84.690,159.060,642.401,214.448,1.015.909
22,08 Castilla - La Mancha,2020,290.379,1.183.460,384.428,1.858.267,34.878,146.278,5.798,186.954,...,212.645,929.681,16.963,71.320,3.517,91.800,157.909,647.410,216.162,1.021.481
23,08 Castilla - La Mancha,2021,286.676,1.189.802,383.517,1.859.995,35.018,148.244,6.305,189.567,...,211.941,930.307,17.065,72.256,3.806,93.127,156.349,651.338,215.747,1.023.434
24,09 Cataluña,2019,1.065.477,4.054.264,1.396.049,6.515.790,186.561,926.161,46.705,1.159.427,...,797.827,3.341.448,90.188,447.174,26.284,563.646,607.594,2.473.389,824.111,3.905.094
25,09 Cataluña,2020,1.049.691,4.054.105,1.416.064,6.519.860,199.130,1.009.192,52.297,1.260.619,...,808.576,3.343.192,96.342,484.500,29.481,610.323,606.037,2.509.421,838.057,3.953.515
26,09 Cataluña,2021,1.028.525,4.059.156,1.425.016,6.512.697,194.654,1.002.356,53.655,1.250.665,...,813.557,3.339.885,94.391,479.350,29.905,603.646,593.736,2.506.333,843.462,3.943.531
27,10 Comunitat Valenciana,2019,685.758,2.744.622,869.976,4.300.356,105.496,504.019,93.898,703.413,...,494.312,2.189.005,50.835,251.070,47.517,349.422,383.936,1.612.662,541.829,2.538.427
28,10 Comunitat Valenciana,2020,675.123,2.745.744,884.355,4.305.222,112.925,541.809,97.397,752.131,...,502.189,2.191.651,54.426,269.577,49.578,373.581,382.079,1.631.386,551.767,2.565.232
29,10 Comunitat Valenciana,2021,661.500,2.747.628,897.394,4.306.522,111.319,541.633,98.664,751.616,...,509.088,2.192.685,53.620,270.288,50.151,374.059,374.791,1.632.714,559.239,2.566.744
30,11 Extremadura,2019,149.932,665.520,219.635,1.035.087,5.325,25.715,1.583,32.623,...,123.395,522.491,2.597,13.315,807,16.719,75.574,339.434,124.202,539.210
31,11 Extremadura,2020,147.187,660.656,221.477,1.029.320,5.587,27.311,1.769,34.667,...,124.086,519.820,2.705,14.266,908,17.879,74.367,338.338,124.994,537.699
32,11 Extremadura,2021,144.474,657.681,222.460,1.024.615,5.604,27.407,1.875,34.886,...,124.302,517.430,2.715,14.429,951,18.095,72.979,337.293,125.253,535.525
33,12 Galicia,2019,329.954,1.595.233,673.444,2.598.631,12.540,81.988,6.340,100.868,...,386.584,1.348.265,6.201,42.579,3.490,52.270,166.250,844.211,390.074,1.400.535
34,12 Galicia,2020,324.904,1.583.758,680.519,2.589.181,14.272,91.061,7.305,112.638,...,389.952,1.343.053,7.041,47.490,4.082,58.613,164.469,843.163,394.034,1.401.666
35,12 Galicia,2021,319.384,1.575.162,686.565,2.581.111,14.294,92.665,7.575,114.534,...,392.531,1.338.664,7.048,48.379,4.253,59.680,161.908,839.652,396.784,1.398.344
36,"13 Madrid, Comunidad de",2019,956.566,3.677.851,1.147.158,5.781.575,128.718,719.220,33.881,881.819,...,669.620,3.010.347,62.715,382.171,20.849,465.735,528.491,2.257.122,690.469,3.476.082
37,"13 Madrid, Comunidad de",2020,946.935,3.707.403,1.169.836,5.824.174,137.330,779.482,38.902,955.714,...,682.440,3.031.171,66.970,414.106,23.848,504.924,527.830,2.301.977,706.288,3.536.095
38,"13 Madrid, Comunidad de",2021,924.784,3.699.005,1.172.340,5.796.129,136.506,777.860,40.756,955.122,...,685.171,3.017.811,66.546,412.235,24.959,503.740,517.016,2.294.405,710.130,3.521.551
39,"14 Murcia, Región de",2019,234.655,828.347,219.657,1.282.659,40.097,157.396,13.746,211.239,...,124.238,649.171,19.343,70.993,6.776,97.112,133.206,482.063,131.014,746.283
40,"14 Murcia, Región de",2020,232.800,833.205,223.029,1.289.034,40.972,166.307,14.938,222.217,...,125.891,652.389,19.789,74.984,7.390,102.163,132.893,488.378,133.281,754.552
41,"14 Murcia, Región de",2021,231.068,838.553,226.541,1.296.162,39.568,166.986,15.770,222.324,...,127.756,655.909,19.106,75.351,7.758,102.215,131.258,491.352,135.514,758.124
42,"15 Navarra, Comunidad Foral de",2019,96.810,366.840,126.345,589.995,11.456,50.717,2.046,64.219,...,70.555,298.770,5.596,24.996,1.221,31.813,52.808,205.999,71.776,330.583
43,"15 Navarra, Comunidad Foral de",2020,95.557,366.730,128.244,590.531,12.705,55.558,2.403,70.666,...,71.421,298.954,6.175,27.384,1.458,35.017,52.732,208.360,72.879,333.971
44,"15 Navarra, Comunidad Foral de",2021,93.857,366.798,129.441,590.096,12.935,56.006,2.500,71.441,...,71.948,298.676,6.326,27.575,1.495,35.396,52.110,208.519,73.443,334.072
45,16 País Vasco,2019,298.363,1.258.212,487.393,2.043.968,26.889,132.567,4.352,163.808,...,279.948,1.052.587,12.967,66.543,2.605,82.115,157.978,694.171,282.553,1.134.702
46,16 País Vasco,2020,293.399,1.252.510,494.343,2.040.252,28.982,146.181,5.089,180.252,...,283.550,1.050.646,13.932,73.424,3.050,90.406,156.514,697.938,286.600,1.141.052
47,16 País Vasco,2021,287.050,1.244.352,499.577,2.030.979,28.948,148.638,5.428,183.014,...,286.318,1.046.341,13.943,74.097,3.227,91.267,153.424,694.639,289.545,1.137.608
48,"17 Rioja, La",2019,41.960,172.462,65.146,279.568,7.188,28.939,1.103,37.230,...,36.189,141.806,3.431,14.709,673,18.813,23.874,99.883,36.862,160.619
49,"17 Rioja, La",2020,41.417,172.283,66.004,279.704,7.709,31.184,1.317,40.210,...,36.571,141.812,3.695,15.748,824,20.267,23.857,100.827,37.395,162.079
50,"17 Rioja, La",2021,40.555,171.914,66.436,278.905,7.889,31.602,1.400,40.891,...,36.795,141.392,3.801,15.914,866,20.581,23.488,100.824,37.661,161.973
51,18 Ceuta,2019,17.588,51.779,9.618,78.985,956,4.525,311,5.792,...,5.371,38.957,446,2.309,153,2.908,9.060,27.281,5.524,41.865
52,18 Ceuta,2020,17.207,51.468,9.822,78.497,837,4.546,322,5.705,...,5.449,38.777,395,2.324,164,2.883,8.840,27.207,5.613,41.660
53,18 Ceuta,2021,16.580,51.573,9.997,78.150,727,4.325,315,5.367,...,5.503,38.541,346,2.259,163,2.768,8.498,27.145,5.666,41.309
54,19 Melilla,2019,17.802,47.408,8.011,73.221,3.124,9.277,865,13.266,...,4.501,35.902,1.468,4.780,443,6.691,10.170,27.479,4.944,42.593
55,19 Melilla,2020,17.806,47.634,8.273,73.713,3.092,9.338,933,13.363,...,4.604,36.179,1.464,4.785,486,6.735,10.180,27.644,5.090,42.914
56,19 Melilla,2021,17.699,47.543,8.408,73.650,2.696,9.005,910,12.611,...,4.633,36.196,1.291,4.682,489,6.462,9.957,27.579,5.122,42.658

In [32]:
print(df_datosdemo)

      Total Nacional Comunidades y Ciudades Autónomas Edad (3 grupos de edad)  \
0     Total Nacional                              NaN            TOTAL EDADES
1     Total Nacional                              NaN            TOTAL EDADES
2     Total Nacional                              NaN            TOTAL EDADES
3     Total Nacional                              NaN            TOTAL EDADES
4     Total Nacional                              NaN            TOTAL EDADES
...              ...                              ...                     ...
2875  Total Nacional                       19 Melilla                65 y más
2876  Total Nacional                       19 Melilla                65 y más
2877  Total Nacional                       19 Melilla                65 y más
2878  Total Nacional                       19 Melilla                65 y más
2879  Total Nacional                       19 Melilla                65 y más

             Sexo Españoles/Extranjeros   Año       Total
0     Ambos sexos                 TOTAL  2021  47.385.107
1     Ambos sexos                 TOTAL  2020  47.450.795
2     Ambos sexos                 TOTAL  2019  47.026.208
3     Ambos sexos             Españoles  2021  41.944.959
4     Ambos sexos             Españoles  2020  42.016.642
...           ...                   ...   ...         ...
2875      Mujeres           Extranjeros  2020         486
2876      Mujeres           Extranjeros  2019         443
2877      Mujeres         % Extranjeros  2021        9,55
2878      Mujeres         % Extranjeros  2020        9,55
2879      Mujeres         % Extranjeros  2019        8,96

[2880 rows x 7 columns]

In [22]:
# Conexion con la base de datos
try:
    conexioncomunidades=psycopg2.connect(
    database="comunidades",
    user="postgres",
    password="admin",
    host="localhost",
    port="5432")
except OperationalError as e:
    if e.pgcode ==errorcodes.INVALID_PASSWORD:
        print("La constraseña es incorrecta")
    elif e.pgcode ==errorcodes.CONNECTION_EXCEPTION:
        print("Error de conexión")

In [23]:
# Primero, deshacer la transacción fallida
conexioncomunidades.rollback()

cursorcomunidades = conexioncomunidades.cursor()
cursorcomunidades

In [24]:
# Creación de tablas

querydecreacion1 = """
    CREATE TABLE IF NOT EXISTS comunidades (
    ID_Comunidad INT PRIMARY KEY,
    nombre_comunidad VARCHAR(255) NOT NULL
);"""
cursorcomunidades.execute(querydecreacion1)
conexioncomunidades.commit()

querydecreacion2 = """
    CREATE TABLE IF NOT EXISTS datos_generacion (
    id SERIAL PRIMARY KEY,
    valor_generacion FLOAT,
    porcentaje_generacion FLOAT,
    fecha DATE,
    tipo VARCHAR(50),
    ID_Comunidad INT,
    FOREIGN KEY (ID_Comunidad) REFERENCES comunidades(ID_Comunidad)
);
"""
cursorcomunidades.execute(querydecreacion2)
conexioncomunidades.commit()

querydecreacion3 = """
    CREATE TABLE IF NOT EXISTS datos_demanda (
    id SERIAL PRIMARY KEY,
    valor_demanda FLOAT,
    porcentaje_demanda FLOAT,
    fecha DATE,
    tipo VARCHAR(50),
    ID_Comunidad INT,
    FOREIGN KEY (ID_Comunidad) REFERENCES comunidades(ID_Comunidad)
);"""
cursorcomunidades.execute(querydecreacion3)
conexioncomunidades.commit()

querydecreacion4 = """
    CREATE TABLE IF NOT EXISTS datos_demograficos (
    id SERIAL PRIMARY KEY,
    region VARCHAR(255),
    comunidad VARCHAR(255),
    grupo_edad VARCHAR(255),
    nacionalidad VARCHAR(50),
    sexo VARCHAR(10),
    año INT,
    poblacion_total FLOAT,
    ID_Comunidad INT,
    FOREIGN KEY (ID_Comunidad) REFERENCES comunidades(ID_Comunidad)
);"""
cursorcomunidades.execute(querydecreacion4)
conexioncomunidades.commit()

querydecreacion5 = """
    CREATE TABLE IF NOT EXISTS datos_economicos (
    id SERIAL PRIMARY KEY,
    region VARCHAR(255),
    comunidad VARCHAR(255),
    sector_actividad VARCHAR(255),
    magnitud VARCHAR(50),
    periodo INT,
    valor_total FLOAT,
    ID_Comunidad INT,
    FOREIGN KEY (ID_Comunidad) REFERENCES comunidades(ID_Comunidad)
);
"""
cursorcomunidades.execute(querydecreacion5)
conexioncomunidades.commit()

In [25]:
# Diccionario de códigos de comunidad
cod_comunidades = {
    'Ceuta': 8744,
    'Melilla': 8745,
    'Andalucía': 4,
    'Aragón': 5,
    'Cantabria': 6,
    'Castilla - La Mancha': 7,
    'Castilla y León': 8,
    'Cataluña': 9,
    'País Vasco': 10,
    'Principado de Asturias': 11,
    'Comunidad de Madrid': 13,
    'Comunidad Foral de Navarra': 14,
    'Comunitat Valenciana': 15,
    'Extremadura': 16,
    'Galicia': 17,
    'Illes Balears': 8743,
    'Canarias': 8742,
    'Región de Murcia': 21,
    'La Rioja': 20
}

In [26]:
# Mapear nombres alternativos a los nombres del diccionario
nombres_alternativos = {
    'Asturias, Principado de': 'Principado de Asturias',
    'Rioja, La': 'La Rioja',
    'Balears, Illes': 'Illes Balears',
    'Navarra, Comunidad Foral de': 'Comunidad Foral de Navarra'
}

# Renombrar columnas para coincidir con los nombres esperados
expected_columns = {
    'Total Nacional': 'region',
    'Comunidades y Ciudades Autónomas': 'comunidad',
    'Edad (3 grupos de edad)': 'grupo_edad',
    'Españoles/Extranjeros': 'nacionalidad',
    'Sexo': 'sexo',
    'Año': 'año',
    'Total': 'poblacion_total'
}
df_datosdemo.rename(columns=expected_columns, inplace=True)

# Convertir año y población total a tipos adecuados
df_datosdemo['año'] = pd.to_numeric(df_datosdemo['año'], errors='coerce')
df_datosdemo['poblacion_total'] = pd.to_numeric(df_datosdemo['poblacion_total'].str.replace('.', '', regex=False), errors='coerce')

# Eliminar filas con valores nulos en `poblacion_total` o `comunidad`
df_datosdemo = df_datosdemo.dropna(subset=['poblacion_total', 'comunidad'])

# Limpiar nombres de comunidades y reemplazar nombres alternativos
df_datosdemo['comunidad'] = df_datosdemo['comunidad'].str.replace(r'^\d+\s+', '', regex=True)  # Eliminar prefijos numéricos
df_datosdemo['comunidad'] = df_datosdemo['comunidad'].replace(nombres_alternativos)  # Reemplazar nombres alternativos

# Asignar `ID_Comunidad` usando el diccionario
df_datosdemo['ID_Comunidad'] = df_datosdemo['comunidad'].map(cod_comunidades)

# Convertir el DataFrame limpio en una lista de tuplas para la inserción en SQL (incluyendo ID_Comunidad)
valores_datos_demograficos = [tuple(x) for x in df_datosdemo[['region', 'comunidad', 'grupo_edad', 'nacionalidad', 'sexo', 'año', 'poblacion_total', 'ID_Comunidad']].values]

In [27]:
# Crear el DataFrame de comunidades a partir del diccionario
df_comunidades = pd.DataFrame(list(cod_comunidades.items()), columns=['nombre_comunidad', 'ID_Comunidad'])

# Añadir ID_Comunidad en los DataFrames usando el diccionario
df_datosdemo['ID_Comunidad'] = df_datosdemo['Comunidades y Ciudades Autónomas'].map(cod_comunidades)
df_datoseco['ID_Comunidad'] = df_datoseco['Comunidades y Ciudades Autónomas'].map(cod_comunidades)

# Extraer listas de valores para SQL
# Valores para la tabla comunidades
valores_comunidades = [tuple(x) for x in df_comunidades[['ID_Comunidad', 'nombre_comunidad']].values]

# Valores para la tabla datos_demanda
valores_datos_demanda = [tuple(x) for x in df_demanda[['value', 'percentage', 'datetime', 'Tipo', 'Id_Comunidad']].values]

# Valores para la tabla datos_generacion
valores_datos_generacion = [tuple(x) for x in df_generacion[['value', 'percentage', 'datetime', 'Tipo', 'Id_Comunidad']].values]

KeyError: 'Comunidades y Ciudades Autónomas'

In [ ]:
# Primero, deshacer la transacción fallida
conexioncomunidades.rollback()

cursorcomunidades = conexioncomunidades.cursor()
cursorcomunidades

In [ ]:
queryinsercion = 'INSERT INTO comunidades (ID_Comunidad, nombre_comunidad) VALUES (%s,%s);'
listavaloresinsercion=valores_comunidades
cursorcomunidades.executemany(queryinsercion,listavaloresinsercion)
conexioncomunidades.commit()

UniqueViolation: llave duplicada viola restricción de unicidad «comunidades_pkey»
DETAIL:  Ya existe la llave (id_comunidad)=(8744).

In [ ]:
# Primero, deshacer la transacción fallida
conexioncomunidades.rollback()

cursorcomunidades = conexioncomunidades.cursor()
cursorcomunidades

In [ ]:
queryinsercion = 'INSERT INTO datos_demograficos (region, comunidad, grupo_edad, nacionalidad, sexo, año, poblacion_total, ID_Comunidad) VALUES (%s, %s, %s, %s, %s, %s, %s, %s);'
listavaloresinsercion=valores_datos_demograficos
cursorcomunidades.executemany(queryinsercion,listavaloresinsercion)
conexioncomunidades.commit()

TypeError: not all arguments converted during string formatting

In [ ]:
# Primero, deshacer la transacción fallida
conexioncomunidades.rollback()

cursorcomunidades = conexioncomunidades.cursor()
cursorcomunidades

In [ ]:
queryinsercion = 'INSERT INTO datos_economicos (region, comunidad, sector_actividad, magnitud, periodo, valor_total) VALUES (%s,%s,%s,%s,%s,%s);'
listavaloresinsercion=valores_datos_economicos
cursorcomunidades.executemany(queryinsercion,listavaloresinsercion)
conexioncomunidades.commit()

TypeError: not all arguments converted during string formatting

In [ ]:
# Primero, deshacer la transacción fallida
conexioncomunidades.rollback()

cursorcomunidades = conexioncomunidades.cursor()
cursorcomunidades

In [ ]:
queryinsercion = 'INSERT INTO datos_demanda (valor_demanda, porcentaje_demanda, fecha, tipo, ID_Comunidad) VALUES (%s,%s,%s,%s,%s);'
listavaloresinsercion=valores_datos_demanda
cursorcomunidades.executemany(queryinsercion,listavaloresinsercion)
conexioncomunidades.commit()

In [ ]:
# Primero, deshacer la transacción fallida
conexioncomunidades.rollback()

cursorcomunidades = conexioncomunidades.cursor()
cursorcomunidades

In [ ]:
queryinsercion = 'INSERT INTO datos_generacion (valor_generacion, porcentaje_generacion, fecha, tipo, ID_Comunidad) VALUES (%s,%s,%s,%s,%s);'
listavaloresinsercion=valores_datos_generacion
cursorcomunidades.executemany(queryinsercion,listavaloresinsercion)
conexioncomunidades.commit()